---
import Layout from "../layouts/layout.astro";
import { numberOfTranslations } from "../data/translations";
import { numberOfMissingTranslations } from "../data/translations";
---

<Layout>
	<section class="about">
		<p>
			Here you find translations from English to German of terms
			which are commonly used in web development. Currently
			there are {numberOfTranslations} of them (of which {
				numberOfMissingTranslations
			} are missing).
		</p>
		<p>
			Many native German speakers, including myself, just use
			English words, even when German words are available
			("checkbox" = "Kontrollkästchen"), or mix them up with
			German words ("Defaultwert").
		</p>
		<p>
			Unfortunately, in many cases no official translation seems
			to be available. Some of the translations here merely
			represent my best guesses.
		</p>
		<p>
			I am happy about every contribution to this list. Please
			reach out to me via <a
				href="mailto:scriptraccoon@gmail.com">mail</a
			> or directly submit a PR to the <a
				href="https://github.com/ScriptRaccoon/translations-web-dev-astro"
				target="_blank">GitHub repository</a
			>.
		</p>
	</section>
</Layout>
