<section>
	<p>
		Here you find translations (English to German) of terms which
		are commonly used in web development.
	</p>
	<p>
		Many native German speakers just use the English words, even
		when German words are available ("checkbox" =
		"Kontrollkästchen"), or mix them up with German words
		("Defaultwert").
	</p>
	<p>
		Unfortunately, in many cases no official translation seems to
		be available. Some of the translations below merely represent
		my best guesses.
	</p>
	<p>
		I am happy about every contribution to this list. Please reach
		out to me via <a href="mailto:scriptraccoon@gmail.com">mail</a
		>.
	</p>
</section>
